<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Flight checkin info</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Flight info</h1>
<div th:if="${#fields.hasErrors('${flight.*}')}" id="error-panel">
	The following errors occurred:
	<ul>
  		<li th:each="err : ${#fields.errors('${flight.*}')}" th:text="${err}" />
	</ul>
</div>
<form action="#" th:action="@{/flight}" th:object="${flight}" method="post">
	<p>First Name: <input type="text" th:field="*{firstName}" /></p>
	<p>Last Name: <input type="text" th:field="*{lastName}" /></p>
	<p>Confirmation Number: <input type="text" th:field="*{confirmationNumber}" /></p>
	<p>Departure time: <input type="datetime-local" th:field="*{departureTime}" /></p>
	<p>Origin airport: <input type="text" th:field="*{departureAirport}" /></p>
	<p>Destination airport: <input type="text" th:field="*{destinationAirport}" /></p>
	<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>